* {
    padding: 0;
    margin: 0;
}

body {
    font-family: "poppins", sans-serif;
    font-weight: 100;
    background: #151515;
    color: #e7e7e7;
    margin: 0;
}

.loading {
    filter: brightness(0) invert(1);
}

.header {
    position: fixed;
    top: 0;
    left: 0;
    background-color: #151515;
    box-shadow: 0px 0px 8px rgba(0, 0, 0, 0.83);
    padding: 10px;
    width: calc(100% - 20px);
    z-index: 10;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.headerIcons {
    display: flex;
    gap: 10px;
    align-items: center;
}

.headerIcon {
    height: 17px;
    padding: 7px;
    cursor: pointer;
    background-color: #0b0b0b;
    border-radius: 5px;
    cursor: pointer;
}

#burger {
    display: flex;
    flex-direction: column;
    gap: 5px;
    padding: 9px 8px 4px 8px;
}

#burger span {
    width: 15px;
    height: 0.1px;
    background-color: #fff;
}

.container {
    padding-top: 90px;
    max-width: 500px;
    margin: auto;
    border-radius: 10px;
}

.inputs {
    display: flex;
    flex-direction: column;
    margin: 15px;
}

select {
    padding: 0 5px;
    height: 40px;
    border-radius: 2px;
    border: none;
    color: white;
    background-color: #0b0b0b;
    border-radius: 5px;
}

select:focus {
    background-color: #0b0b0b;
    outline: none;
}

option {
    background-color: #000000;
    color: white;
}

input[type="text"] {
    width: calc(100% - 20px);
    flex: 1;
    padding: 10px;
    margin-top: 5px;
    border: none;
    color: white;
    background-color: #0b0b0b;
    border-radius: 5px;
    font-size: 15px;
}

input:focus {
    outline: none;
    background-color: #0b0b0b;
}

input:-webkit-autofill {
    -webkit-box-shadow: 0 0 0px 1000px transparent inset !important;
    /* match your input bg */
    -webkit-text-fill-color: #fff !important;
    /* match your text color */
    transition: background-color 5000s ease-in-out 0s;
    /* keeps bg persistent */
}

/* For Firefox */
input:-moz-autofill {
    box-shadow: 0 0 0px 1000px transparent inset !important;
    -moz-text-fill-color: #fff !important;
}

#loadBtn {
    display: none;
    flex-direction: row;
    margin: 10px 0 10px auto;
    padding: 10px 25px;
    width: min-content;
    border-radius: 5px;
    background-color: #0b0b0b;
    border: none;
    color: white;
    cursor: pointer;
}

.details {
    margin-top: 10px;
    line-height: 23px;
}

.slicer {
    display: flex;
    gap: 8px;
    margin: 10px 0;
}

.slicer input[type="radio"] {
    display: none;
    /* hide default dots */
}

.slicer label {
    padding: 6px 14px;
    border-radius: 20px;
    cursor: pointer;
    font-size: 14px;
    background: #0b0b0b;
    color: #eee;
    transition: all 0.25s ease;
}

.slicer label:hover {
    background: #2a2a2a;
    border-color: #666;
}

.slicer input[type="radio"]:checked+label {
    background: rgb(0, 31, 31);
    /* highlight color */
    border-color: rgb(1, 185, 185);
    color: rgb(1, 185, 185);
}


.chart-block {
    margin-top: 10px;
    border-radius: 8px;
    box-shadow: 0 3px 8px rgba(0, 0, 0, 0.04);
}

canvas {
    width: 100% !important;
    max-height: 250px;
    display: block;
    border-radius: 4px;
}

.table-wrapper {
    width: 100%;
    overflow-x: auto;
}

table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 18px;
    font-size: 13px;
    border-radius: 7px;
    min-width: 600px;
}

th,
td {
    border: 1px solid #1b1b1b;
    padding: 8px;
    text-align: center;
    white-space: nowrap;
}

th {
    background: #1b1b1b;
}

tr:nth-child(even) {
    background: #0f0f0f;
}

tr:hover {
    background: rgb(25, 21, 0);
    color: rgb(255, 214, 0);
    transition: background-color 0.3s, color 0.3s;
}

.content {
    margin: 15px;
}

#logSection {
    display: none;
    margin-top: 20px;
    border-radius: 5px;
    background-color: #0f0f0f;
}

#logSection summary {
    padding: 10px;
    cursor: pointer;
    user-select: none;
}

#chName {
    font-size: 30px;
    font-weight: bold;
}

.msg {
    position: absolute;
    visibility: hidden;
    top: 30px;
    left: 50vw;
    transform: translateX(-50%);
    z-index: 5;
    opacity: 0;
    padding: 5px;
    width: calc(100vw - 45px);
    max-width: 300px;
    border-radius: 5px;
    background-color: #0f0b00;
    border: 1px solid #9b6d00;
    color: #eda600;
    transition: visibility 0.3s, opacity 0.3s linear, top 0.3s ease-out;
}